html {
    background: url(/Documents/pexels-jerome031-2114365.png);
    background-size: cover;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1 {

    color: white;
    text-align: center;
    font-size: 100px;
}

.drum-machine {
    display: flex;
    justify-content: center;
    background-color: blue;
    border: 2px solid black;
    opacity: 0.8;
    padding: 325px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.right-side-up-triangle {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 0;
    margin-bottom: 20px;
}

.inside-r-side-up {
    margin: auto;
    text-align: center;
    padding-top: 32px;
    border-bottom: 50px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 0;
}
.upside-down-triangle {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 100px solid yellow;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.inside-u-side-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(-50%, -100%);
    border-top: 50px solid greenyellow;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    padding-bottom: 32px;
    text-align: center;
}

.inside-u-side-down-p {
    margin: 0;
    justify-self: center;
    padding-bottom: 40px;
}


.second-column{
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
  }
.reg-font{
    margin: 0;
    justify-self: center;
    padding-top: 20px;
}

