html {
    background: url(/Documents/pexels-jerome031-2114365.png);
    background-size: cover;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1 {

    color: white;
    text-align: center;
    font-size: 100px;
}

.drum-machine {
    display: flex;
    justify-content: center;
    background-color: blue;
    border: 2px solid black;
    opacity: 0.8;
    padding: 325px;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.right-side-up-triangle {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    width: 0;
    margin-bottom: 20px;
}

.inside-r-side-up {
    margin: auto;
    text-align: center;
    padding-top: 32px;
    border-bottom: 50px solid green;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 0;
}

.upside-down-triangle {
    display: flex;
    position: relative; /* Allows absolute positioning for child */
    width: 0; /* Essential for maintaining triangle shape */
    height: 0; /* Essential for maintaining triangle shape */
    border-top: 100px solid yellow; /* Height of the larger triangle */
    border-left: 50px solid transparent; /* Half of the base width */
    border-right: 50px solid transparent; /* Half of the base width */
}

.inside-u-side-down {
    display: flex;
    position: absolute; /* Position relative to the parent */
    transform: translate(-50%, -100%); /* Center horizontally and vertically */
    border-top: 50px solid greenyellow; /* Height of the smaller triangle */
    border-left: 25px solid transparent; /* Half of the base width */
    border-right: 25px solid transparent; /* Half of the base width */
    padding-bottom: 32px;
    margin: auto;
}

.second-column{
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
  }
p{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
    margin-top: 15px;
    text-align: center;
}
